{
  "openapi": "3.1.0",
  "info": {
    "title": "CSBoard API",
    "version": "1.0.0",
    "description": "Market data over the CSBoard marketplace — live listings, floats, stickers, minAsk prices, FX rates — plus opt-in buying straight from your balance. Free to read, key-gated, built for automation.",
    "contact": {
      "name": "CSBoard",
      "url": "https://csboard.com/docs"
    }
  },
  "servers": [
    {
      "url": "https://csboard.com/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Status",
      "description": "Liveness and freshness probes."
    },
    {
      "name": "Market data",
      "description": "Read the live catalog, prices, and FX rates."
    },
    {
      "name": "Trading",
      "description": "Buy listings from your CSBoard balance. Opt-in, key-gated."
    },
    {
      "name": "Account",
      "description": "Your balance, settled funds, and trading status."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Liveness + freshness probe",
        "description": "Liveness and price-list freshness probe. No key required — use it to check the API is up and the price list is fresh. This is the only endpoint that works without authentication.",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                },
                "example": {
                  "status": "ok",
                  "groups": 184213,
                  "price_list_age_seconds": 42
                }
              }
            }
          }
        }
      }
    },
    "/listings": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Live buyable listings",
        "description": "Live buyable listings across the marketplace — each with float, paint seed, stickers, and the asking price in USD. Use keyset pagination via `cursor`.",
        "operationId": "listListings",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Full-text match on market hash name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Exact market_hash_name (case-insensitive) — the precise single-item lookup. Unlike fuzzy `search`, it isolates one item even when its name is a word-subset of a longer one (e.g. `Spectrum Case` vs `Spectrum 2 Case`). Takes precedence over `search`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "e.g. Rifle, Knife, Gloves.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wear",
            "in": "query",
            "description": "Item wear bucket.",
            "schema": {
              "type": "string",
              "enum": [
                "Factory New",
                "Minimal Wear",
                "Field-Tested",
                "Well-Worn",
                "Battle-Scarred"
              ]
            }
          },
          {
            "name": "rarity",
            "in": "query",
            "description": "e.g. Classified, Covert.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Minimum price in USD.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Maximum price in USD.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "min_float",
            "in": "query",
            "description": "Minimum float value.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_float",
            "in": "query",
            "description": "Maximum float value.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "stat_trak",
            "in": "query",
            "description": "Filter StatTrak™ items.",
            "schema": {
              "type": "string",
              "enum": [
                "only",
                "exclude"
              ]
            }
          },
          {
            "name": "souvenir",
            "in": "query",
            "description": "Filter Souvenir items.",
            "schema": {
              "type": "string",
              "enum": [
                "only",
                "exclude"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Default id.",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "newest",
                "price_asc",
                "price_desc"
              ],
              "default": "id"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Keyset cursor from next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "1–200. Default 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of listings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Listing"
                      }
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Pass back as `cursor` to fetch the next page. Null on the last page."
                    }
                  },
                  "required": [
                    "items",
                    "next_cursor"
                  ]
                },
                "example": {
                  "items": [
                    {
                      "id": "itm_8841201",
                      "market_hash_name": "AK-47 | Redline (Minimal Wear)",
                      "wear": "Minimal Wear",
                      "doppler_phase": null,
                      "float_value": 0.0912,
                      "paint_seed": 412,
                      "stickers": [
                        {
                          "name": "Crown (Foil)",
                          "image": "https://cdn.csboard.com/stickers/crown_foil.png",
                          "slot": 0,
                          "wear": 0.0
                        }
                      ],
                      "price_usd": 14.37,
                      "category": "Rifle",
                      "rarity": "Classified",
                      "image": "https://cdn.csboard.com/items/ak47_redline_mw.png",
                      "inspect_link": "steam://rungame/730/76561202255233023/+csgo_econ_action_preview%20...",
                      "tradable": false,
                      "tradable_at": "2026-07-06T12:00:00Z",
                      "delivery": "hold"
                    }
                  ],
                  "next_cursor": "eyJpZCI6Iml0bV84ODQxMjAxIn0="
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/prices": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "minAsk price list",
        "description": "The minAsk price list — one row per market hash name (+ wear + Doppler phase), with the cheapest current ask and how many are listed. Indicative grouped snapshot; can lag the live listing price.",
        "operationId": "listPrices",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Full-text match on market hash name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Exact market_hash_name (case-insensitive) — the precise single-item lookup. Unlike fuzzy `search`, it isolates one item even when its name is a word-subset of a longer one (e.g. `Spectrum Case` vs `Spectrum 2 Case`). Takes precedence over `search`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "e.g. Rifle, Knife, Gloves.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wear",
            "in": "query",
            "description": "Item wear bucket.",
            "schema": {
              "type": "string",
              "enum": [
                "Factory New",
                "Minimal Wear",
                "Field-Tested",
                "Well-Worn",
                "Battle-Scarred"
              ]
            }
          },
          {
            "name": "rarity",
            "in": "query",
            "description": "e.g. Classified, Covert.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Minimum price in USD.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Maximum price in USD.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Keyset cursor from next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "1–500. Default 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of price rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PriceRow"
                      }
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "items",
                    "next_cursor"
                  ]
                },
                "example": {
                  "items": [
                    {
                      "market_hash_name": "AK-47 | Redline (Field-Tested)",
                      "wear": "Field-Tested",
                      "doppler_phase": null,
                      "min_price_usd": 11.92,
                      "qty": 73
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/prices/snapshot.ndjson.gz": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Full price-list snapshot (gzipped NDJSON)",
        "description": "Full gzipped NDJSON dump of the price list — one price row JSON per line. Use this for full-catalog ingestion (e.g. comparison sites), not pagination. Rate limited to 1 request/minute. Supports ETag / If-None-Match: an unchanged snapshot returns 304 Not Modified.",
        "operationId": "getPriceSnapshot",
        "parameters": [
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "Conditional request. Pass the ETag from a previous snapshot to receive 304 if unchanged.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gzipped NDJSON stream. Each decompressed line is one PriceRow JSON object. Sets an ETag header.",
            "headers": {
              "ETag": {
                "description": "Opaque snapshot version. Send back as If-None-Match to skip unchanged downloads.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified — the snapshot has not changed since the ETag you sent."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/currency": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "FX rates (USD base)",
        "description": "FX rates with USD as the base. Every price in this API is USD — use this to convert to a local currency. Same rate table the site and payment flows use (cached ~1h).",
        "operationId": "getCurrency",
        "responses": {
          "200": {
            "description": "Current FX rates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                },
                "example": {
                  "base": "USD",
                  "rates": {
                    "USD": 1,
                    "EUR": 0.92,
                    "RUB": 78.4,
                    "GBP": 0.79
                  },
                  "updated_at": "2026-06-29T17:00:00Z",
                  "rub_source": "cbr",
                  "base_source": "openexchangerates"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "List purchase history",
        "description": "Your purchase history, newest first, with keyset pagination. Filter by time window and status. Pass `meta.next_cursor` back as `cursor` to walk older pages; `next_cursor` is null on the last page.",
        "operationId": "listOrders",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page. 1–100. Default 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "start_unix_time",
            "in": "query",
            "description": "Only orders created at or after this Unix timestamp (seconds).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_unix_time",
            "in": "query",
            "description": "Only orders created at or before this Unix timestamp (seconds).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by order status.",
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "hold",
                "delivering",
                "pending",
                "cancelled",
                "failed"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Keyset cursor from a previous response's `meta.next_cursor`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Pass back as `cursor` for the next page. Null on the last page."
                        },
                        "per_page": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "next_cursor",
                        "per_page"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "order_id": "ord_01J9Z3K8Q2",
                      "steam_id": "76561198000000000",
                      "status": "completed",
                      "custom_id": "batch-2026-06-29-01",
                      "currency": "USD",
                      "charged_total_usd": 26.47,
                      "item_count": 2,
                      "hold_until": null,
                      "created_at": "2026-06-29T17:12:04Z",
                      "updated_at": "2026-06-29T17:15:40Z",
                      "items": [
                        {
                          "market_hash_name": "AK-47 | Redline (Minimal Wear)",
                          "price_usd": 14.37,
                          "status": "delivered",
                          "tradable_at": "2026-07-06T12:00:00Z",
                          "return_reason": null,
                          "steam_trade_offer_id": "5512345678",
                          "steam_trade_offer_finished_at": "2026-06-29T17:15:40Z"
                        }
                      ]
                    }
                  ],
                  "meta": {
                    "next_cursor": "eyJpZCI6Im9yZF8wMUo5WjNLOFEyIn0=",
                    "per_page": 50
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "invalid_request",
                  "detail": "limit must be between 1 and 100."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Buy listings from your balance",
        "description": "Buy 1–10 listings by id, debited from your CSBoard balance. Requires trading enabled on the key + a linked Steam account and trade URL. Buys are charged at the LIVE price at execution; always send `max_price_usd` as an atomic overcharge ceiling. Idempotent via the `Idempotency-Key` header or `idempotency_key` in the body.",
        "operationId": "createOrder",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. A retried request with the same key replays the original order instead of buying twice.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              },
              "example": {
                "item_ids": [
                  "itm_8841201",
                  "itm_8841340"
                ],
                "max_price_usd": 30.0,
                "idempotency_key": "6f9c2b10-1a2b-4c3d-8e4f-5a6b7c8d9e0f"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order accepted and debited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreated"
                },
                "example": {
                  "order_id": "ord_01J9Z3K8Q2",
                  "status": "processing",
                  "items": [
                    {
                      "item_id": "itm_8841201",
                      "charged_usd": 14.37,
                      "delivery": "hold"
                    },
                    {
                      "item_id": "itm_8841340",
                      "charged_usd": 12.1,
                      "delivery": "instant"
                    }
                  ],
                  "total_charged_usd": 26.47,
                  "balance_after_usd": 73.53,
                  "created_at": "2026-06-29T17:12:04Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g. price moved past your ceiling).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "price_moved": {
                    "summary": "Live price exceeded max_price_usd",
                    "value": {
                      "code": "price_moved",
                      "message": "Live total 31.20 exceeds max_price_usd 30.00.",
                      "current_total_usd": 31.2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "Insufficient balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "insufficient_balance",
                  "message": "Balance 10.00 is below order total 26.47."
                }
              }
            }
          },
          "403": {
            "description": "Trading not enabled on this key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "trading_not_enabled",
                  "message": "Enable buying for this key in your profile."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Account balance and trading status",
        "description": "Your current balance in USD, plus how much of it is settled (reversal-safe) versus held. Use `settled_balance_usd` to know what is available for reversal-safe spending, and `trading_enabled` to check whether buying is turned on for this key.",
        "operationId": "getBalance",
        "responses": {
          "200": {
            "description": "Current balance and trading status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                },
                "example": {
                  "currency": "USD",
                  "balance_usd": 1240.55,
                  "trading_enabled": true,
                  "settled_balance_usd": 980.1,
                  "held_usd": 260.45,
                  "held_until": "2026-07-06T12:00:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/listings/availability": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Bulk availability check",
        "description": "Check whether specific listings are still buyable, in one request. Pass up to 100 listing ids as a comma-separated `ids` query parameter. Returns how many of each id are available, plus the ids that are no longer available.",
        "operationId": "getListingsAvailability",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated listing ids. Required. Maximum 100 ids per request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability map for the requested ids.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "available": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          },
                          "description": "Map of listing id → count currently available."
                        },
                        "unavailable_ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Ids that are no longer available."
                        }
                      },
                      "required": [
                        "available",
                        "unavailable_ids"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "available": {
                      "itm_8841201": 1,
                      "itm_8841340": 3
                    },
                    "unavailable_ids": [
                      "itm_8841999"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Invalid request — `ids` missing or more than 100 ids supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "invalid_request",
                  "detail": "Provide between 1 and 100 ids in the ids parameter."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/info": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Batch order lookup",
        "description": "Look up the status of many orders at once by `custom_ids` and/or `order_ids` (comma-separated). Supply at least one of the two; up to 200 ids in total across both parameters.",
        "operationId": "getOrdersInfo",
        "parameters": [
          {
            "name": "custom_ids",
            "in": "query",
            "description": "Comma-separated custom ids you assigned at purchase time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_ids",
            "in": "query",
            "description": "Comma-separated CSBoard order ids.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "order_id": "ord_01J9Z3K8Q2",
                      "steam_id": "76561198000000000",
                      "status": "completed",
                      "custom_id": "batch-2026-06-29-01",
                      "currency": "USD",
                      "charged_total_usd": 26.47,
                      "item_count": 2,
                      "hold_until": null,
                      "created_at": "2026-06-29T17:12:04Z",
                      "updated_at": "2026-06-29T17:15:40Z",
                      "items": []
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Invalid request — no ids supplied, or more than 200 ids in total.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "invalid_request",
                  "detail": "Provide custom_ids and/or order_ids, up to 200 ids total."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Get a single order",
        "description": "Fetch one order by its CSBoard order id, including per-item delivery status.",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "CSBoard order id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "example": {
                  "order_id": "ord_01J9Z3K8Q2",
                  "steam_id": "76561198000000000",
                  "status": "completed",
                  "custom_id": "batch-2026-06-29-01",
                  "currency": "USD",
                  "charged_total_usd": 26.47,
                  "item_count": 2,
                  "hold_until": null,
                  "created_at": "2026-06-29T17:12:04Z",
                  "updated_at": "2026-06-29T17:15:40Z",
                  "items": [
                    {
                      "market_hash_name": "AK-47 | Redline (Minimal Wear)",
                      "price_usd": 14.37,
                      "status": "delivered",
                      "tradable_at": "2026-07-06T12:00:00Z",
                      "return_reason": null,
                      "steam_trade_offer_id": "5512345678",
                      "steam_trade_offer_finished_at": "2026-06-29T17:15:40Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No order with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "order_not_found",
                  "detail": "No order found for that id."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/market/buy": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Buy and deliver to a Steam trade URL",
        "description": "Buy up to 100 items and deliver them straight to any Steam trade URL you supply (built from `partner` + `token`), paid from your **settled** (reversal-safe) balance. Built for wholesale and automated delivery. Idempotent via the `custom_id` body field — a retry with the same `custom_id` replays the original purchase and the response carries the `Idempotent-Replayed: true` header. This endpoint ships behind a kill-switch and requires a trading-enabled, reversal-clean account.",
        "operationId": "marketBuy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalBuyRequest"
              },
              "example": {
                "item_ids": [
                  "itm_8841201",
                  "itm_8841340"
                ],
                "partner": "447383001",
                "token": "Ab3xZ9Qp",
                "max_price_usd": 30.0,
                "custom_id": "batch-2026-06-29-01",
                "skip_unavailable": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Purchase accepted and debited from settled balance.",
            "headers": {
              "Idempotent-Replayed": {
                "description": "Present and `true` when this response replays an earlier purchase made with the same `custom_id`.",
                "schema": {
                  "type": "boolean"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalBuyResult"
                },
                "example": {
                  "data": {
                    "purchase_id": "pur_01J9Z3K8Q2",
                    "steam_id": "76561198000000000",
                    "created_at": "2026-06-29T17:12:04Z",
                    "custom_id": "batch-2026-06-29-01",
                    "skins": [
                      {
                        "name": "AK-47 | Redline (Minimal Wear)",
                        "price": 14.37,
                        "status": "delivering",
                        "return_reason": null,
                        "steam_trade_offer_id": "5512345678"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Malformed body",
                    "value": {
                      "code": "invalid_request",
                      "detail": "item_ids must contain 1–100 unique ids."
                    }
                  },
                  "unsupported_item": {
                    "summary": "Item cannot be delivered this way",
                    "value": {
                      "code": "unsupported_item",
                      "detail": "One or more items cannot be delivered via this endpoint."
                    }
                  },
                  "invalid_trade_url": {
                    "summary": "Bad partner/token",
                    "value": {
                      "code": "invalid_trade_url",
                      "detail": "partner and token do not form a valid Steam trade URL."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "invalid_api_key",
                  "detail": "Missing or invalid API key."
                }
              }
            }
          },
          "402": {
            "description": "Not enough funds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_settled_balance": {
                    "summary": "Settled balance too low",
                    "value": {
                      "code": "insufficient_settled_balance",
                      "detail": "Settled balance is below the order total.",
                      "required_usd": 26.47,
                      "settled_usd": 10.0
                    }
                  },
                  "insufficient_balance": {
                    "summary": "Balance too low",
                    "value": {
                      "code": "insufficient_balance",
                      "detail": "Balance is below the order total."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not permitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "external_buy_disabled": {
                    "summary": "Kill-switch off",
                    "value": {
                      "code": "external_buy_disabled",
                      "detail": "This endpoint is currently disabled."
                    }
                  },
                  "trading_not_enabled": {
                    "summary": "Buying off for key",
                    "value": {
                      "code": "trading_not_enabled",
                      "detail": "Enable buying for this key in your profile."
                    }
                  },
                  "account_restricted": {
                    "summary": "Account not eligible",
                    "value": {
                      "code": "account_restricted",
                      "detail": "This endpoint requires a reversal-clean account."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "item_unavailable": {
                    "summary": "Item sold out",
                    "value": {
                      "code": "item_unavailable",
                      "detail": "One or more items are no longer available.",
                      "unavailable_ids": [
                        "itm_8841999"
                      ]
                    }
                  },
                  "price_moved": {
                    "summary": "Live price exceeded ceiling",
                    "value": {
                      "code": "price_moved",
                      "detail": "Live total exceeds max_price_usd.",
                      "quoted_max_usd": 30.0,
                      "current_total_usd": 31.2,
                      "items": [
                        {
                          "id": "itm_8841201",
                          "market_hash_name": "AK-47 | Redline (Minimal Wear)",
                          "price_usd": 15.1
                        }
                      ]
                    }
                  },
                  "idempotency_in_progress": {
                    "summary": "Earlier request still running",
                    "value": {
                      "code": "idempotency_in_progress",
                      "detail": "A request with this custom_id is still being processed."
                    }
                  },
                  "price_updating": {
                    "summary": "Prices refreshing",
                    "value": {
                      "code": "price_updating",
                      "detail": "Prices are updating; retry shortly."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "The purchase could not be completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "order_failed",
                  "detail": "The purchase could not be completed."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Send your key as a Bearer token on every request: `Authorization: Bearer csb_pub_...`. Generate keys in your CSBoard profile."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "unauthorized",
              "message": "Missing or invalid API key."
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Includes a Retry-After header.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "rate_limit_exceeded",
              "message": "Too many requests."
            }
          }
        }
      }
    },
    "schemas": {
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "groups": {
            "type": "integer",
            "description": "Count of priced item groups."
          },
          "price_list_age_seconds": {
            "type": "integer",
            "description": "Age of the materialized price list, in seconds (freshness)."
          }
        },
        "required": [
          "status",
          "groups",
          "price_list_age_seconds"
        ]
      },
      "Sticker": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "slot": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4
          },
          "wear": {
            "type": [
              "number",
              "null"
            ],
            "description": "Sticker wear 0–1, or null if unscraped."
          }
        },
        "required": [
          "name",
          "image",
          "slot",
          "wear"
        ]
      },
      "Listing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable listing id. Pass to POST /v1/orders."
          },
          "market_hash_name": {
            "type": "string"
          },
          "wear": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Factory New",
              "Minimal Wear",
              "Field-Tested",
              "Well-Worn",
              "Battle-Scarred",
              null
            ]
          },
          "doppler_phase": {
            "type": [
              "string",
              "null"
            ],
            "description": "Doppler / Gamma Doppler phase, e.g. \"Phase 2\", \"Ruby\", or null."
          },
          "float_value": {
            "type": [
              "number",
              "null"
            ]
          },
          "paint_seed": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stickers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sticker"
            }
          },
          "price_usd": {
            "type": "number",
            "description": "Authoritative asking price in USD. Equals the amount charged if you buy this listing."
          },
          "category": {
            "type": "string"
          },
          "rarity": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "inspect_link": {
            "type": "string"
          },
          "tradable": {
            "type": "boolean"
          },
          "tradable_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the item leaves trade hold. Null if already tradable."
          },
          "delivery": {
            "type": "string",
            "enum": [
              "instant",
              "hold"
            ]
          }
        },
        "required": [
          "id",
          "market_hash_name",
          "price_usd",
          "category",
          "delivery",
          "stickers",
          "tradable"
        ]
      },
      "PriceRow": {
        "type": "object",
        "properties": {
          "market_hash_name": {
            "type": "string"
          },
          "wear": {
            "type": [
              "string",
              "null"
            ]
          },
          "doppler_phase": {
            "type": [
              "string",
              "null"
            ]
          },
          "min_price_usd": {
            "type": "number",
            "description": "Cheapest current ask in USD."
          },
          "qty": {
            "type": "integer",
            "description": "How many are listed at or above this group."
          }
        },
        "required": [
          "market_hash_name",
          "min_price_usd",
          "qty"
        ]
      },
      "Currency": {
        "type": "object",
        "properties": {
          "base": {
            "type": "string",
            "example": "USD"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Currency code → units per 1 USD."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "rub_source": {
            "type": "string"
          },
          "base_source": {
            "type": "string"
          }
        },
        "required": [
          "base",
          "rates",
          "updated_at"
        ]
      },
      "OrderRequest": {
        "type": "object",
        "properties": {
          "item_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 10,
            "uniqueItems": true,
            "description": "1–10 unique ids from /v1/listings. Some items can't be combined in a single order — if so the order is rejected and you can split it."
          },
          "max_price_usd": {
            "type": "number",
            "description": "Total ceiling in USD. Strongly recommended — your overcharge protection, enforced atomically inside the locked debit."
          },
          "idempotency_key": {
            "type": "string",
            "description": "Optional; or send the Idempotency-Key header. Replays the original order on retry."
          }
        },
        "required": [
          "item_ids"
        ]
      },
      "OrderCreated": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "completed",
              "failed"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "item_id": {
                  "type": "string"
                },
                "charged_usd": {
                  "type": "number"
                },
                "delivery": {
                  "type": "string",
                  "enum": [
                    "instant",
                    "hold"
                  ]
                }
              }
            }
          },
          "total_charged_usd": {
            "type": "number"
          },
          "balance_after_usd": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "order_id",
          "status",
          "total_charged_usd"
        ]
      },
      "Balance": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "balance_usd": {
            "type": "number",
            "description": "Total balance in USD."
          },
          "trading_enabled": {
            "type": "boolean",
            "description": "Whether buying is enabled for this key."
          },
          "settled_balance_usd": {
            "type": "number",
            "description": "Portion of the balance that is settled (reversal-safe) and spendable on reversal-safe purchases."
          },
          "held_usd": {
            "type": "number",
            "description": "Portion of the balance currently held."
          },
          "held_until": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the held portion clears, or null if nothing is held."
          }
        },
        "required": [
          "currency",
          "balance_usd",
          "trading_enabled",
          "settled_balance_usd",
          "held_usd",
          "held_until"
        ]
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "market_hash_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_usd": {
            "type": [
              "number",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "hold",
              "delivering",
              "delivered",
              "returned"
            ]
          },
          "tradable_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the item leaves Steam trade hold, or null."
          },
          "return_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "trade_timeout",
              "declined",
              "expired",
              "rolled_back",
              "unavailable",
              null
            ],
            "description": "Why the item was returned, if its status is `returned`."
          },
          "steam_trade_offer_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "steam_trade_offer_finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "status"
        ]
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "steam_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "hold",
              "delivering",
              "pending",
              "cancelled",
              "failed"
            ]
          },
          "custom_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your own id, if you set one at purchase time."
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "charged_total_usd": {
            "type": "number"
          },
          "item_count": {
            "type": "integer"
          },
          "hold_until": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "required": [
          "order_id",
          "status",
          "currency",
          "charged_total_usd",
          "item_count",
          "created_at",
          "items"
        ]
      },
      "ExternalBuyRequest": {
        "type": "object",
        "properties": {
          "item_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 100,
            "uniqueItems": true,
            "description": "1–100 unique listing ids to buy."
          },
          "partner": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "description": "Steam trade URL `partner` value. With `token`, forms the destination trade URL."
          },
          "token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "description": "Steam trade URL `token` value. With `partner`, forms the destination trade URL."
          },
          "max_price_usd": {
            "type": "number",
            "description": "Total ceiling in USD. Order is rejected with `price_moved` if the live total exceeds it."
          },
          "custom_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "Idempotency key. A retry with the same value replays the original purchase."
          },
          "skip_unavailable": {
            "type": "boolean",
            "default": false,
            "description": "If true, skip items that are no longer available instead of failing the whole request."
          }
        },
        "required": [
          "item_ids",
          "partner",
          "token"
        ]
      },
      "ExternalBuyResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "purchase_id": {
                "type": "string"
              },
              "steam_id": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "custom_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "skins": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "price": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "status": {
                      "type": "string"
                    },
                    "return_reason": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "steam_trade_offer_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            },
            "required": [
              "purchase_id",
              "steam_id",
              "created_at",
              "skins"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "Error": {
        "type": "object",
        "description": "All errors return { code, detail }. Some carry extra fields (e.g. price_moved adds current_total_usd, insufficient_balance adds required_usd/current_usd).",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code, e.g. rate_limit_exceeded, trading_not_enabled, price_moved."
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation."
          }
        },
        "required": [
          "code"
        ]
      }
    }
  }
}